body {
    background-color: #e9ecef;
}
/* Header */
.topnav {
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 6px 26px black;
    position: fixed;
    z-index: 1;
}

.navbar {
    padding-top: 1%;
}

#mainimg1 {
    width: 15%;
    border-radius: 8px;
    padding-top: 1.5%;
}

.btn {
    background-color: #F46F22;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 30px;
    position: fixed;
    z-index: 1;
}

.btn1 {
    color: white;
    text-decoration: none;
}

.btn2 :hover {
    background-color: #4A219C;
    border-radius: 20px;
}

.header-list {
    list-style: none;
    margin: 0;
    padding-top: -0.5%;
    display: flex;
    justify-content: center;
    margin-top: -1%;
}

.lis-text {
    text-decoration: none;
    padding: 5px;
    color: black
}

.list-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    text-align: center;
    margin-top: -42px;
    display: flex;
}

.list-text :hover {
    background-color: #c9823c;
    color: white;
    border-radius: 10px;
}

.bannerdiv {
    justify-content: center;
    display: flex;
    background-position: center;
    position: relative;
    top: 15px;
}
/* Body Design */

#bannerimg1 {
    border-radius: 20px;
    border: solid #F7F7F9;
    margin-top: 100px;
}

#wel {
    color: rgb(83, 81, 81);
    padding: 50px;
    margin-left: 55px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#No1 {
    color: #4A219C;
    margin-left: 100px;
    margin-top: -50px;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 25px black;
}

.herosecp {
    padding: 5px;
    margin-left: 99px;
    font-size: 20px;
}

.get {
    background-color: #f57c00;
    border: none;
    display: flex;
    left: 100px;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    position: absolute;
    cursor: pointer;
}

.btn2 {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.get :hover {
    background-color: #4A219C;
    border: none;
    border-radius: 20px;
}

.herosecimg {
    position: absolute;
    top: 240px;
    right: 125PX;
}

.student {
    background-color: white;
    display: flex;
    padding: 16px 11.2px;
    width: 200px;
    height: 70px;
    margin-left: 90px;
    margin-top: 150px;
    border-radius: 10px;
    box-shadow: 2px 2px 26px 0px black;
}

.sk {
    font-size: 20px;
    font-weight: bold;
}

.PF {
    font-size: 12px;
    line-height: 1px;
}

.studentimg {
    height: 75px;
    width: 75px;
    position: absolute;
    margin-left: 120px;
    display: flex;
    justify-content: center;
}

.earningimg {
    height: 75px;
    width: 75px;
    position: absolute;
    margin-left: 120px;
    display: flex;
    justify-content: center;
}

.Earning {
    background-color: white;
    display: flex;
    padding: 16px 11.2px;
    width: 200px;
    height: 70px;
    margin-left: 380px;
    margin-top: -100px;
    border-radius: 10px;
    box-shadow: 2px 2px 26px 0px black;
}

.Listall {
    display: inline-block;
}

.live {
    background-color: white;
    display: flex;
    padding: 16px 11.2px;
    width: 200px;
    height: 70px;
    margin-left: 670px;
    margin-top: -100px;
    border-radius: 10px;
    box-shadow: 2px 2px 26px 0px black;
}

.learning {
    background-color: white;
    display: flex;
    padding: 16px 11.2px;
    width: 200px;
    height: 70px;
    margin-left: 960px;
    margin-top: -100px;
    border-radius: 10px;
    box-shadow: 2px 2px 26px 0px black;
}

.dk {
    margin-top: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.hw {
    text-align: center;
    color: #4A219C;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    text-shadow: 2px 2px 25px black;
}

.learn123 {
    background-color: white;
    padding: 32px 16px;
    width: 352px;
    height: 235.42;
    margin-left: 60px;
    border-radius: 2px;
    box-shadow: 2px 2px 26px 0px black;
}

.ln {
    color: #4A219C;
    font-weight: bold;
    font-size: 22px;
}

.learnP {
    text-align: center;
}

.learnImg {
    margin-left: 140px;
}

.afterlist {
    margin-top: 100px;
}

.implement {
    background-color: white;
    padding: 32px 16px;
    width: 352px;
    height: 235.42;
    margin-left: 480px;
    margin-top: -235px;
    border-radius: 2px;
    box-shadow: 2px 2px 26px 0px black;
}

.earnsec {
    background-color: white;
    padding: 32px 16px;
    width: 352px;
    height: 235.42;
    margin-left: 900px;
    margin-top: -235px;
    border-radius: 2px;
    box-shadow: 2px 2px 26px 0px black;
}

.MM {
    text-align: center;
    color: #4A219C;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 80px;
    font-size: 35px;
    text-shadow: 2px 2px 25px black;
    text-decoration: underline;
}

.mentorp {
    text-align: center;
    font-size: 20px;
}

.MP1 {
    margin-left: 80px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 2px 2px 26px 0px black;
}

.MP {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 2px 2px 26px 0px black;
}

.mudassir {
    margin-left: 280px;
}

.mudab {
    margin-left: 280px;
    width: 332px;
    height: 100px;
    overflow: scroll;
}

.mudab>p {
    text-align: center;
}

.boldit {
    font-weight: bold;
    font-size: 25px;
    color: #4A219C;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mudab>p {
    text-align: center;
}

.boldit {
    font-weight: bold;
    font-size: 25px;
    color: #4A219C;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ahmab {
    margin-left: 700px;
    margin-top: -100px;
    width: 332px;
    height: 100px;
    overflow: scroll;
}

.ahmab>p {
    text-align: center;
}
.middleimg {
    margin-left: 220px;
    margin-top: 100px;
    border-radius: 20px;
}
.dah {
    text-align: center;
    color: #4A219C;
    margin-top: 100px;
    text-shadow: 2px 2px 25px black;}
.q-adropdown {
    margin-top: 80px;
    margin-left:    190px;
    width: 911px;
}
.footerdiv {
    background-color: white;
    height: 233.61px;
    margin-top: 100px;
    box-shadow: 0px 2px 25px 0px black;
}
.footerL {
    margin-top: 30px;
    margin-left: 60px;
}
.footerP {
    margin-left: 60px;
    margin-top: -10px;
}
.links1f {
    list-style: none;
    font-size: 17px;
}
.ls1h {
    font-size: 22px;
    font-weight: bold;
    color: #f57c00;
    text-decoration: underline;
    text-shadow: 2px 2px 25px black;
}
.footerlist {
    margin-left: 580px;
    margin-top: -150px;
    line-height: 30px;
}
.add1 {
    list-style: none;
    font-size: 17px;
}
.footerlist2 {
    margin-left: 980px;
    margin-top: -175px;
    line-height: 30px;
}
.ccp {
    text-align: center;
    margin-top: -7px;
}
.fandq{
  min-height: 50vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
}

.que{
  background-color: #f57c00;
  width: 100%;
  max-width: 700px;
  padding: 40px;
  border-radius: 20px;
}


.item{
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 15px 0;
}


.fandq h2{
  color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}


.fandq h3{
  color: white;
  font-size: 16px;
  margin-top: 10px;
  display: none;
  line-height: 1.5;
}
.arrow{
    width: 50px;
    height: auto;

}